


/* selector universal */
/*
* {
	border:2px solid red;
	margin:10px;
	padding:10px;

}*/

/*selector de etiqueta 
header{
	width: 800px;
	margin:auto;
}*/



/*selector descendente */

/*article h3{
	color:green;
}*/

/*selectores de clase */


body{
font-family: 'Allerta', sans-serif;
margin:0;
}

section{
}

input, textarea{outline: 0;}



input:focus, textarea:focus{background-color:lightgray;}

table{
	width:100%;
}

th{
	background: #273b47;
	color:white;
	padding:10px 20px;
	text-align: left;
}

td{
	padding:20px;
}

table,td,th{
	border:1px solid #273b47;
	border-collapse:collapse;
}


.button{
	border-radius:12px;
	background-color: #fd324e;
	color:white;
	border:none;
	padding:7px 12px;
	cursor:pointer;
	font-size: 18px;
	background: linear-gradient(to left,#fe344e,#ff7250);
	text-decoration: none;
}

.title-a{
	font-size: 24px;
	margin-top:0;
}

.title-b{
	font-size: 50px;
	margin-bottom: 20px;

}

/*selector de id*/
#header {
	/*border:3px solid black;*/

}

#portada{
	/*border:3px solid orange;*/

}

.guitarras {
	/*border:3px solid brown;*/
 color: #1F313C;
 margin-bottom: 60px;


}

.titulo{
	font-size:70px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0;
	margin-top: 70px;
}

.guitarras h2{
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
}




.portada{
	background-image:url('../images/background.png');
	background-size:cover;
	color:white;
	padding: 20px;
	height:500px;


}

.portada button{
	margin-bottom: 70px;

}

.menu{
	font-size: 24px;
	display:inline-block;
	position:absolute;
	right:0;
}

.menu li{
	display:inline-block;
	margin-left: 30px;
}

.logotipo{display:inline-block;}

.contenedor{
	width:800px;
	margin:auto;
	justify-content:center;
	position: relative;
}

.guitarra{
	margin: 10px 10px 40px 10px;
	padding:10px;
	border:1px solid #1F313C;
	border-radius: 8px;
}


.derecha{
	float:right;
	position: relative;
  	top: -127px;
}

.izquierda{
	float:left;
	position: relative;
}

.contenedor-guitarra-a{
	padding-left: 20px;
}

.contenedor-guitarra-b{
	margin-left: 370px;
	position: relative;
	bottom: 90px;	
}

.guitarra ol{
	padding: 0;
}

.guitarra.b{height: 190px;}

.header{position:relative;}

.footer{background:#273b47;padding:50px 10px;}

.contacto img{display:block;}
.contacto strong{display: block;}

 .contacto a {color:white;text-decoration: none;margin:10px 10px 10px 0;}
 .contacto {display:flex;width:300px;flex-wrap:wrap;align-items:center;}

.footer .contenedor {
	display:flex;
	justify-content:space-between;
}

.formulario{display:flex;width:400px;color:white;}

.col1 , .col2{
	display:flex;
	flex-direction:column;
}

.col1{
	margin-right: 15px;
}

.col2{align-items:flex-start;}

.col2.button{
	margin-top: 15px;
}

.intereses label{
	font-size: 12px;
}


.formulario label, .sexo ,.intereses{
	margin-bottom: 10px;
}

.sexo{
	margin-top: 10px;
}

.menu li:before{
	content:'-';
	font-size: 50px;
	line-height: 20px;
	color:white;
}

.menu a{
	color:white;
	text-decoration: none;
}

.logotipo{
	margin-left: 0;
}

.titulo span{
	text-decoration: underline;
}


.tabla{
	margin: 50 px 0;
}

@media:screen and (max-width: 800px){
body{
	

}
}